.slider{
    position: relative;
    display: flex;

    .right-arrow{
        position: absolute;
        top: 50%;
        right: 32px;
        font-size: 3rem;
        color: #e17640;
        z-index: 10;
        cursor: pointer;
        user-select: none;
    }
    .left-arrow{
        position: absolute;
        top: 50%;
        left: 32px;
        font-size: 3rem;
        color: #e17640;
        z-index: 10;
        cursor: pointer;
        user-select: none;
    }
    .image{
        width: 100%;
        height: 600px;
        border-radius: 10px;
        object-fit: cover;
        transition: 1s ease-in-out all;
        animation: fade  ease-in-out;
        animation-duration: 2s;
       
    }
    .slide{
        opacity: 0;
        transition-duration: 1s ease;
        &.active{
            opacity: 1;
            transition-duration: 1s;  
        }
    }
    .slider-dots{
        position: absolute;
        bottom: 0;
        left: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        .slider-dot-item{
            margin: 0 10px;
            color: red;
        }
    }
}
@keyframes fade {
    from {opacity: 0.3;}
    to {opacity: 1;}
}